.Game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgb(60, 112, 60);

  div {
    max-height: 18vh;

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    img {
      position: relative;

      &:not(:last-child) {
        margin-right: 6px;
      }

      &:hover {
        top: -2px;
      }
    }
  }
}
